<div class="container visitor-view">
    <h2 class="mb-3">Hello,</h2>
    <img src="https://firebasestorage.googleapis.com/v0/b/sac-ml.appspot.com/o/monkeyplayin.webp?alt=media&token=8db19aa9-1761-4e07-95fb-cb8513cf76f9" alt="User image" class="visitor-image mb-3">
    <h3 class="mb-4">Wild Gamer Monkey</h3>

    <p class="mb-2">Check out our games recommendation system so you can find your favourite...</p>
    <h4 class="highlighted mb-4"><b>Banana Tycoon?</b></h4>

    <p class="mb-2">Just hop into your account and let us know your tastes:</p>

    <a [routerLink]="'/main'" class="btn btn-warning">LOG IN</a>
</div>